@charset "UTF-8";
@import url("font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
  font-family: "Comic Neue";
  src: local("ComicNeue"), url("/assets/fonts/ComicNeue-Bold.ttf") format("ttf");
} 

* {
  font-family: "Comic Neue";
  margin: 0;
  padding: 0;
} 
.top-bar{
  width: 100%;
  height: 75px;
  background: linear-gradient(yellowgreen, green);
  padding-top: 13px;
}
.side-bar {
  height: 797px;
  width: 15%;
  background-color: black;
}
.content {
  width: 100%;
  height: 797px;
  background-color: wheat;
}
.bottom-bar {
  width: 100%;
  height: 75px;
  background: linear-gradient(yellowgreen, green);
  display: flex;
  padding-top: 13px;
}
img {
  height: 50px;
  width: 50px;
}
.offcanvas-header {
  width: 100%;
  height: 75px;
  background: linear-gradient(yellowgreen, green);
  padding-top: 13px;
}
.offcanvas-body {
  background-color: black;
}
#hetero {
  background-color: transparent;
  border: 0;
}
#offcanvasLeft {
  width: 18%;
}
#xpp {
  color: white;
}
#sidebarbody {
  padding-top: 20px;
  padding-left: 20px;
  color: white;
  font-size: large;
}
#sidebarbody a {
  color: inherit;
  text-decoration: inherit;
}